<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org"-->
<!--      th:replace="base::layout(~{::section})">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<section>-->
<!--  <h1>-->
<!--    this is about page-->
<!--  </h1>-->
<!--</section>-->

<!--</body>-->
<!--</html>-->



<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/8973e71845.js" crossorigin="anonymous"></script>
        <title>OUR PRODUCTS</title>

    <!--</head>-->
    <!--<body>-->




<!--    &lt;!&ndash; Required meta tags &ndash;&gt;-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

<!--    &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">-->
<!--&lt;!&ndash;    <link rel="stylesheet" th:href="@{/css/style.css}"/>&ndash;&gt;-->
</head>
<body>
<!--<section id = header class="list">-->
<!--    <div class="logo">-->
<!--        <a href="#">-->
<!--            <img src="../../static/images/logo.png" alt="logo" width="150px" height="150px">-->
<!--        </a>-->
<!--    </div>-->
<!--    <div class="bar">-->
<!--        <ul id="nav">-->
<!--            <li><a href="">HOME</a></li>-->
<!--            <li><a href="products.html">OUR PRODUCTS</a></li>-->
<!--            <li><a href="shopname.html">SHOPS</a></li>-->
<!--            <li><a href="home.html">ABOUT</a></li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</section>-->

<section id="navbar">
    <div class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <h3>RENTAL</h3>
            </a>
            <ul class="nav justify-content-end" style="color: aliceblue;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" th:href="@{/user/home}"><i class="fa-solid fa-house"></i> HOME</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"th:href="@{/user/about}">ABOUTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"th:href="@{/user/service}">SERVICES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"th:href="@{/user/contact}">CONTACTS</a>


                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/logout}">LOGOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> <i class="fa-solid fa-user"></i></a>
                </li>

            </ul>
        </div>
    </div>
</section>

<section id="topic2-1">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/img/background3.webp" class="d-block w-100" alt="background3">
            </div>
            <div class="carousel-item object-fit-sm-contain border rounded">
                <img src="/img/background4.webp" class="d-block w-100" alt="background4">
            </div>
            <div class="carousel-item">
                <img src="/img/background5.webp" class="d-block w-100" alt="background5">
            </div>
            <div class="carousel-item">
                <img src="/img/background2.avif" class="d-block w-100" alt="background2">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</section>



<section id="content">
    <h2>DESCRIPTION</h2>
    <hr>
    <div class="description">
        <img src="/images/background2.avif" alt="image1">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos, modi voluptatem eligendi itaque provident voluptatum inventore laudantium voluptas ipsa assumenda dolore quam perferendis quasi pariatur, excepturi, tenetur voluptatibus labore ipsam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo laboriosam eligendi facere eveniet! Reprehenderit quo, voluptates quidem alias enim pariatur tempora, ullam cupiditate ad eligendi odit sequi voluptatum saepe doloribus!<a href="#" class="read-more">Read more<span>&rarr;</span></a></p>
    </div>
    <hr>

    <div class="description">
        <img src="/images/background2.avif" alt="image1">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos, modi voluptatem eligendi itaque provident voluptatum inventore laudantium voluptas ipsa assumenda dolore quam perferendis quasi pariatur, excepturi, tenetur voluptatibus labore ipsam?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis repudiandae, suscipit accusamus rem repellendus aut alias. Hic sequi quis odio sunt quibusdam eius cupiditate quisquam cum incidunt provident. Omnis, nesciunt!<a href="#" class="read-more">Read more<span>&rarr;</span></a></p>
    </div>
    <hr>

    <div class="description">
        <img src="/images/background2.avif" alt="image1">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos, modi voluptatem eligendi itaque provident voluptatum inventore laudantium voluptas ipsa assumenda dolore quam perferendis quasi pariatur, excepturi, tenetur voluptatibus labore ipsam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio cumque magni modi veritatis repellendus harum fuga mollitia. Voluptates sed in, unde quidem cupiditate magnam minima recusandae laborum! Eos, asperiores animi.<a href="#" class="read-more">Read more<span>&rarr;</span></a></p>
    </div>
    <hr>

    <div class="description">
        <img src="/images/background2.avif" alt="image1">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos, modi voluptatem eligendi itaque provident voluptatum inventore laudantium voluptas ipsa assumenda dolore quam perferendis quasi pariatur, excepturi, tenetur voluptatibus labore ipsam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium omnis distinctio architecto unde at debitis reiciendis temporibus possimus voluptates molestiae non voluptatem laudantium, natus, harum ipsam doloribus veniam nihil odio!<a href="#" class="read-more">Read more<span>&rarr;</span></a></p>
    </div>
    <hr>

    <div class="description">
        <img src="/images/background2.avif" alt="image1">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos, modi voluptatem eligendi itaque provident voluptatum inventore laudantium voluptas ipsa assumenda dolore quam perferendis quasi pariatur, excepturi, tenetur voluptatibus labore ipsam?Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse fugiat suscipit voluptatum eveniet quos voluptates veritatis porro maxime mollitia? Cupiditate tempora facere voluptas doloremque assumenda magnam nisi consectetur a quae.<a href="#" class="read-more">Read more<span>&rarr;</span></a></p>
    </div>
    <hr>
    <!-- <div class="readmore"> -->
    <a href="#" class="read-more">Read more<span>&rarr;</span></a>
    <!-- </div> -->
</section>

<section id="newsletter">
    <div>
        <h4>NEWSTEXT</h4>
        <p>Get your Email Update about our latest offers</p>
    </div>
    <div class="form">
        <input type="text" placeholder="Your Email Address">
        <button class="normal">Signup</button>
    </div>

</section>
<hr>

<footer>

    <div class="col1">
        <img src="/images/logo.png" alt="logo" width="150px" height="150px">
        <h3>CONTACT</h3>
        <p><strong>Address: </strong> Putalisadak, Kathmandu</p>
        <p><strong>Phone number: </strong> Putalisadak, Kathmandu</p>
        <p><strong>Feedback: </strong>nomailtome@gmail.com</p>
    </div>

    <div class="col2">
        <h3>ABOUT US</h3>
        <a href="#">About</a>
        <a href="#">Delivery Information</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms and Conditions</a>
        <a href="#">Contact us</a>
    </div>

    <!--    <div class="col-install">-->
    <!--        <h4>Install App</h4>-->
    <!--        <p>From the App Store or Google play</p>-->
    <!--        <div class="row">-->
    <!--            <img src="/images/appStorelogo.jpeg" alt="logo1" width="100px" height="100px">-->
    <!--            <img src="/images/googleStorelogo.jpeg" alt="logo2" width="100px" height="100px">-->
    <!--        </div>-->
    <!--        <p>Secured Payment Gateways</p>-->
    <!--        <img src="/images/visa2.jpeg" alt="paymentlogo" width="250px" height="80px">-->
    <!--    </div>-->
</footer>
<div class="footer-bottom">
    <p>Thank You!!! <a href="#"th:href="@{/user/home}">Brental</a></p>
</div>

</body>
</html>