<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>RENTAL-HOME</title>-->
<!--    <link rel="stylesheet" href="../../static/css/style.css">-->
<!--&lt;!&ndash;    <link rel="stylesheet" th:href="@{/style.css}">&ndash;&gt;-->
<!--    -->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>-->
<!--    <script src="https://kit.fontawesome.com/8973e71845.js" crossorigin="anonymous"></script>-->


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<!--<section id = header class="list">-->
<!--    <div class="logo">-->
<!--        <a href="#">-->
<!--            <img src="../../static/img/logo.png" alt="logo" width="150px" height="150px">-->
<!--        </a>-->
<!--    </div>-->
<!--    <div class="bar">-->
<!--        <ul id="nav">-->
<!--            <li><a href="home.html">HOME</a></li>-->
<!--            <li><a href="products.html">OUR PRODUCTS</a></li>-->
<!--            <li><a href="shop name.html">SHOPS</a></li>-->
<!--            <li><a href="home.html">ABOUT</a></li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</section>-->
<section id="navbar">
    <div class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <h3>RENTAL</h3>
            </a>
            <ul class="nav justify-content-end" style="color: aliceblue;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-house"></i> HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">PRODUCTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">SERVICES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CONTACTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/logout}">LOGOUT</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#"> <i class="fa-solid fa-user"></i></a>
                </li>

            </ul>
        </div>
    </div>
</section>

<section id="topic">
    <div class="topic_container">
        <h1>HellO,<span></span></h1>
        <h1>Welcome To<span></span></h1>
        <h1>Our WebSiTe <span></span></h1>
        <a href="#" type="button" class="cta"> RENTAL</a>
    </div>

</section>


<div class="title-features">
    <h2>Features</h2>
</div>
<section id="feature">

    <div class="fe-box">
        <img src="/images/f1.jpg" alt="f1">
        <p>Free Shipping</p>
    </div>
    <div class="fe-box">
        <img src="/images/f2.png" alt="f2">
        <p>Online Order</p>
    </div>
    <div class="fe-box">
        <img src="/images/f3.jpg" alt="f3">
        <p>Save Money</p>
    </div>
    <div class="fe-box">
        <img src="/images/f4.avif" alt="f4">
        <p>Happy Selling</p>
    </div>
    <div class="fe-box">
        <img src="/images/f5.avif" alt="f5">
        <p>F24/7 Support</p>
    </div>
</section>

<section id="products1">
    <h2>Featured Products</h2>
    <p> <span>A summary Collection of the New Model </span></p>
    <div class="pro-container">
        <div class="pro">
            <img src="/images/background2.avif" alt="image1">
            <div class="desc">
                <span>BMW</span>
                <h5>Astraunt</h5>
                <h4>$280</h4>
            </div>
        </div>

        <div class="pro">
            <img src="/images/background2.avif" alt="image1">
            <div class="desc">
                <span>BMW</span>
                <h5>Astronaut</h5>
                <h4>$280</h4>
            </div>
        </div>

        <div class="pro">
            <img src="/images/background2.avif" alt="image1">
            <div class="desc">
                <span>BMW</span>
                <h5>Astronaut</h5>
                <h4>$280</h4>
            </div>
        </div>

        <div class="pro">
            <img src="/images/background2.avif" alt="image1">
            <div class="desc">
                <span>BMW</span>
                <h5>Astronaut</h5>
                <h4>$280</h4>
            </div>
        </div>

        <div class="pro">
            <img src="/images/background2.avif" alt="image1">
            <div class="desc">
                <span>BMW</span>
                <h5>Astronaut</h5>
                <h4>$280</h4>
            </div>
        </div>

        <div class="pro">
            <img src="/images/background2.avif" alt="image1">
            <div class="desc">
                <span>BMW</span>
                <h5>Astronaut</h5>
                <h4>$280</h4>
            </div>
        </div>

        <div class="pro">
            <img src="/images/background2.avif" alt="image1">
            <div class="desc">
                <span>BMW</span>
                <h5>Astronaut</h5>
                <h4>$280</h4>
            </div>
        </div>

        <div class="pro">
            <img src="/images/background2.avif" alt="image1">
            <div class="desc">
                <span>BMW</span>
                <h5>Astraunt</h5>
                <h4>$280</h4>
            </div>
        </div>

        <div class="pro">
            <img src="/images/background2.avif" alt="image1">
            <div class="desc">
                <span>BMW</span>
                <h5>Astronaut</h5>
                <h4>$280</h4>
            </div>
        </div>

    </div>
</section>

<section id="banner">
    <h4>REPAIR SERVICE</h4>
    <h2>UP TO <span>20% OFF</span> - IN ALL BRAND CYCLES</h2>
    <button class="normal">Explore More</button>

</section>

<section id="products2">
    <h2>NEW ARRIVALS</h2>
    <p> <span>A summary Collection of the New Model </span></p>
    <div class="pro-container">
        <div class="pro">
            <img src="/images/background5.webp" alt="image1">
            <div class="desc">
                <span>Hero</span>
                <h5>Mig Man</h5>
                <h4>$580</h4>
            </div>
        </div>

        <div class="pro">
            <img src="/images/background3.webp" alt="image2">
            <div class="desc">
                <span>Lifelong</span>
                <h5>LLb</h5>
                <h4>$460</h4>
            </div>
        </div>

        <div class="pro">
            <img src="/images/background5.webp" alt="image3">
            <div class="desc">
                <span>Hero</span>
                <h5>Mig Man</h5>
                <h4>$580</h4>
            </div>
        </div>

        <div class="pro">
            <img src="/images/background5.webp" alt="image1">
            <div class="desc">
                <span>Hero</span>
                <h5>Mig Man</h5>
                <h4>$580</h4>
            </div>
        </div>

        <div class="pro">
            <img src="/images/background3.webp" alt="image2">
            <div class="desc">
                <span>Lifelong</span>
                <h5>LLb</h5>
                <h4>$460</h4>
            </div>
        </div>

        <div class="pro">
            <img src="/images/background5.webp" alt="image3">
            <div class="desc">
                <span>Hero</span>
                <h5>Mig Man</h5>
                <h4>$580</h4>
            </div>
        </div>

        <div class="pro">
            <img src="/images/background5.webp" alt="image1">
            <div class="desc">
                <span>Hero</span>
                <h5>Mig Man</h5>
                <h4>$580</h4>
            </div>
        </div>

        <div class="pro">
            <img src="/images/background3.webp" alt="image2">
            <div class="desc">
                <span>Lifelong</span>
                <h5>LLb</h5>
                <h4>$460</h4>
            </div>
        </div>

        <div class="pro">
            <img src="/images/background5.webp" alt="image3">
            <div class="desc">
                <span>Hero</span>
                <h5>Mig Man</h5>
                <h4>$580</h4>
            </div>
        </div>

    </div>
</section>

<section id="sm-banner">
    <div class="banner-box">
        <h4>CRAZY DEALS</h4>
        <h2>20% Discount on Sale</h2>
        <span>With 2 years of free Servicing...</span><br>
        <button class="normal">Learn More</button>
    </div>

    <div class="banner-box banner-box2">
        <h4>UPCOMING MONTH</h4>
        <h2>The Best Season Sale</h2>
        <span>With exciting offers...</span><br>
        <button class="normal">Learn More</button>
    </div>

</section>

<section id="newsletter">
    <div>
        <h4>NEWSTEXT</h4>
        <p>Get your Email Update about our latest offers</p>
    </div>
    <div class="form">
        <input type="text" placeholder="Your Email Address">
        <button class="normal">Signup</button>
    </div>

</section>

<!-- <section id="products_gallery">
    <div class="gallery">
        <img src="images/background3.webp" alt="cycle1" width="400" height="400">
        <div class="desc">A description about the cycle is here.
            <a href="#" class="read-more">Read more<span>&rarr;</span></a>
        </div>
    </div>

    <div class="gallery">
        <img src="images/background4.webp" alt="cycle1" width="400" height="400">
        <div class="desc">A description about the cycle is here.
            <a href="#" class="read-more">Read more<span>&rarr;</span></a>
        </div>
    </div>

    <div class="gallery">
        <img src="images/background2.avif" alt="cycle1" width="400" height="400">
        <div class="desc">A description about the cycle is here.
            <a href="#" class="read-more">Read more<span>&rarr;</span></a>
        </div>
    </div>

    <div class="gallery">
        <img src="images/background5.webp" alt="cycle1" width="400" height="400">
        <div class="desc">A description about the cycle is here.
            <a href="#" class="read-more">Read more<span>&rarr;</span></a>
        </div>
    </div>

    <div class="gallery">
        <img src="images/background3.webp" alt="cycle1" width="400" height="400">
        <div class="desc">A description about the cycle is here.
            <a href="#" class="read-more">Read more<span>&rarr;</span></a>
        </div>
    </div>

    <div class="gallery">
        <img src="images/background5.webp" alt="cycle1" width="400" height="400">
        <div class="desc">A description about the cycle is here.
            <a href="#" class="read-more">Read more<span>&rarr;</span></a>
        </div>
    </div>

</section> -->

<footer>

    <div class="col1">
        <img src="/images/logo.png" alt="logo" width="150px" height="150px">
        <h3>CONTACT</h3>
        <p><strong>Address: </strong> Putalisadak, Kathmandu</p>
        <p><strong>Phone number: </strong> Putalisadak, Kathmandu</p>
        <p><strong>Feedback: </strong>nomailtome@gmail.com</p>
    </div>

    <div class="col2">
        <h3>ABOUT US</h3>
        <a href="#">About</a>
        <a href="#">Delivery Information</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms and Conditions</a>
        <a href="#">Contact us</a>
    </div>

    <div class="col-install">
        <h4>Install App</h4>
        <p>From the App Store or Google play</p>
        <div class="row">
            <img src="/images/appStorelogo.jpeg" alt="logo1" width="100px" height="100px">
            <img src="/images/googleStorelogo.jpeg" alt="logo2" width="100px" height="100px">
        </div>
        <p>Secured Payment Gateways</p>
        <img src="/images/visa2.jpeg" alt="paymentlogo" width="250px" height="80px">
    </div>
</footer>
<div class="footer-bottom">
    <p>&copy; 2023 Your Website. All rights reserved.</p>
</div>
</body>
</html>