<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="admin/base::layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
        <style>
                .dropdown-toggle::after {
                  content: none;
                }
                body
                {
                    margin: 0px;
                }

                .container .card:hover
                {
                    background: #e2e2e2;
                    cursor: pointer;
                }
            </style>
</head>
<body>
<section>





<!--  <div class="modal fade" id="rentForm" tabindex="-1" aria-labelledby="rentFormLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog">-->
<!--      <div class="modal-content">-->
<!--        <div class="modal-header">-->
<!--          <h1 class="modal-title fs-5" id="rentFormLabel">Renting Product</h1>-->
<!--          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--        </div>-->

  <h1 class="modal-title fs-5" id="rentFormLabel">Add Renting Product</h1>
        <div class="modal-body">
          <form enctype="multipart/form-data"
                th:action="@{/add_Renting}" method="post" th:object="${product}" >

<!--              <div class="dropdown mr-1">-->
<!--                  <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">-->
<!--                      Offset-->
<!--                  </button>-->
<!--                  <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">-->
<!--                      <a class="dropdown-item" href="#">Action</a>-->
<!--                      <a class="dropdown-item" href="#">Another action</a>-->
<!--                      <a class="dropdown-item" href="#">Something else here</a>-->
<!--                  </div>-->
<!--              </div>-->
              <label>CATEGORY:
              </label>
              <select name="categoryTitle">
                  <option th:if="${categories.empty}">Not found</option>
                  <option th:each="category : ${categories}">
                      <span th:text="${category.categoryTitle}">Category</span>
                  </option>
              </select>




              <div class="form-group" style="margin-top: 3px;">
                  <label>NAME:</label>
              <input type="text" class="form-control" name="pName" placeholder="Enter the products name here..." required>

            </div>
              <label>PRICE:</label>
              <div class="form-group" style="margin-top: 3px;">
              <input type="number" class="form-control" name="pPrice" placeholder="Enter the final selling price here..." required>

            </div>
              <label>DISCOUNT:</label>
            <div class="form-group" style="margin-top: 3px;">
              <input type="number" class="form-control" name="pDiscount" placeholder="Enter Discount here..." required>

            </div>
            <div class="form-group" style="margin-top: 3px;">
                <label>QUANTITY:</label>
              <input type="number" class="form-control" name="pQuantity" placeholder="Enter the products quantity here..." required>
            </div>

              <div class="form-group" style="margin-top: 3px;">
                  <label>BOOK:</label>
                  <input type="text" class="form-control" name="pbook" placeholder="Enter the product brand..." required>
              </div>


            <div class="form-group" style="margin-top: 3px;">
                <label>REPAIR:</label>
                <input type="date" class="form-control" name="pRepair" placeholder="Last repaired on..." required>

            </div>

            <div class="mb-3" style="margin-top: 3px;">
                <label>PROFILE:</label>
                <!-- <label for="formFileMultiple" class="form-label"></label> -->
              <input type="file" name="profile"/>
            </div>

            <div class="button text-center" style="margin-top: 3px;">
              <button type="submit" class="btn btn-outline-success">SUBMIT</button>
<!--              <a href="/" th:href="@{/admin/}">Cancel </a>-->
                <button  type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <a href="/" th:href="@{/admin/}" style="color:white;">Close </a>
                </button>
<!--              <button  class="btn btn-secondary" data-bs-dismiss="modal" ><a action="/admin/">Close </a> </button>-->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

</body>
</html>