<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="admin/base::layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<section>

  <table class="table table-striped">
    <tr th:if="${category.empty}">
      category not found
    </tr>
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Category Title</th>
      <th scope="col">Decription</th>
      <th scope="col">Action</th>

      <!--                            <th scope="col">Quantity</th>-->
      <!--                            <th scope="col">Image</th>-->
      <!--                            <th scope="col">Repair</th>-->
      <!--                            <th scope="col">Action</th>-->
    </tr>
    </thead>
    <tbody>

    <tr th:each=" categoryss : ${category}" >
      <td th:text="${categoryss.categoryId} "></td>
      <td th:text="${categoryss.categoryTitle} "></td>
      <td th:text="${categoryss.CategoryDec} "></td>
      <td>
        <!--        for delete -->
        <form th:action="@{/deleteCategory}" method="post">
          <input hidden="hidden" name="id" th:value="${categoryss.categoryId}">
          <button type="submit">
            Delete
          </button>
        </form>
      </td>


    </tr>
    </tbody>
  </table>





</section>

</body>
</html>