<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="admin/base::layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body style="margin: 10px; padding: 10px; width: 100%;">
<section>

  <h1>Renting</h1>
  <table class="table table-striped">
      <tr  th:if="${products.empty}" >
        <td>Nothing found</td>
      </tr>
    <tr  th:if="${categorys.empty}" >
      <td>Nothing found</td>
    </tr>

    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Repair</th>
      <th scope="col">Discount</th>
      <th scope="col">Quantity</th>
      <th scope="col">Booked</th>
      <th scope="col">Image</th>
      <th scope="col">Action</th>
      <th scope="col">Modify</th>


      <!--      <th scope="col">Description</th>-->


    </tr>
    </thead>

    <tbody>

    <tr th:each="product : ${products}">
      <td th:text="${product.pId}"></td>
      <td th:text="${product.pName}"></td>
      <td th:text="${product.pPrice}"></td>
      <td th:text="${product.pRepair}"></td>
      <td th:text="${product.pDiscount}"></td>
      <td th:text="${product.pQuantity}"></td>
      <td th:text="${product.pbooked}"></td>
      <td><img style="height: 40px; width: auto;" th:src="'/pic/' + ${product.pPic}"></td>
      <td>
<!--        for delete -->
        <form th:action="@{/deleteProduct}" method="post">
        <input hidden="hidden" name="id" th:value="${product.pId}">
        <button type="submit">
          Delete
        </button>
      </form>
      </td>
<!--for update button-->
      <td>
        <form th:action="@{'/admin/updateRproduct/'+ ${product.pId}}" method="post">
<!--          <input hidden="hidden" name="pId" th:value="${product.pId}">-->
          <button type="submit">
            Update
          </button>
        </form>
      </td>

<!--    <td th:each="category : ${categorys}"  th:text="${category.categoryDec}">-->
<!--      <td th:text="${category.categoryDec}"></td>-->
    </tbody>
    </tr>
    </tr>
  </table>
  <h1>Selling</h1>
  <table class="table table-striped" >
    <tr  th:if="${sellings.empty}" >
      <td>Nothing found</td>
    </tr>

    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Discount</th>
      <th scope="col">Quantity</th>
      <th scope="col">Brand</th>
      <th scope="col">Description</th>
      <th scope="col">Image</th>
      <th scope="col">Action</th>
      <th scope="col">Modify</th>


    </tr>
    </thead>

    <tbody>

    <tr th:each="selling : ${sellings}">
      <td th:text="${selling.id}"></td>
      <td th:text="${selling.sname}"></td>
      <td th:text="${selling.sprice}"></td>
      <td th:text="${selling.sdis}"></td>
      <td th:text="${selling.squantity}"></td>
      <td th:text="${selling.sbrand}"></td>
      <td th:text="${selling.sdec}"></td>

      <td><img style="height: 40px; width: auto;" th:src="'/spic/' + ${selling.sPic}">
      </td>
      <td><form th:action="@{/deleteSelling}" method="post">
        <input hidden="hidden" name="id" th:value="${selling.id}">
        <button type="submit">
          Delete
        </button>
      </form>
      </td>
<!--      buttom for update-->
      <td>
        <form th:action="@{'/admin/updateSproduct/'+ ${selling.id}}" method="post">
          <!--          <input hidden="hidden" name="pId" th:value="${product.pId}">-->
          <button type="submit">
            Update
          </button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
<!--  &lt;!&ndash; Begin Page Content &ndash;&gt;-->
<!--          <div class="container-fluid">-->
<!--            <div class="input-group" style="width: 30%; margin-bottom: 20px;">-->
<!--              <form th:action = "@{/search-products/0}" method = "get">-->
<!--                <input type="text" class="form-control rounded" placeholder="Search" name = "keyword" aria-label="Search"-->
<!--                       aria-describedby="search-addon" />-->
<!--                <button type="submit" class="btn btn-outline-primary">search</button>-->
<!--              </form>-->
<!--            </div>-->
<!--&lt;!&ndash;            <a th:href="@{/add-product}" class = "btn btn-primary">Add Product</a>&ndash;&gt;-->

<!--            </div>-->

<!--            <table class="table table-bordered" th:if = "${size > 0}" >-->
<!--              <tr th:if="${product.empty}">-->
<!--                user not found-->

<!--              </tr>-->
<!--              <thead>-->
<!--              <tr>-->
<!--                <th scope="col">Name</th>-->
<!--                <th scope="col">Category</th>-->
<!--                <th scope="col">Price</th>-->
<!--                <th scope="col">Quantity</th>-->
<!--                <th scope="col">Image</th>-->
<!--                <th scope="col">Repair</th>-->
<!--                <th scope="col">Action</th>-->
<!--              </tr>-->
<!--              </thead>-->
<!--              <tbody>-->
<!--              <tr th:each = "product : ${products}">-->
<!--                <th scope="row" th:text = "${product.pName}"></th>-->
<!--                <td th:text = "${product.category.name}"></td>-->
<!--                <td th:text = "${product.pPrice}"></td>-->
<!--                <td th:text = "${product.pQuantity}"></td>-->
<!--&lt;!&ndash;                <td>&ndash;&gt;-->
<!--&lt;!&ndash;                  <img class = "my-product-image" style="height: 40px; width: 40px;" alt=""&ndash;&gt;-->
<!--&lt;!&ndash;                       th:src="'data:image/jpeg;base64,' + ${product.pPic}">&ndash;&gt;-->
<!--&lt;!&ndash;                </td>&ndash;&gt;-->
<!--&lt;!&ndash;                <td><a th:href="@{/update-product/{id}(id= ${product.pId})}" class="btn btn-primary">Update</a></td>&ndash;&gt;-->
<!--&lt;!&ndash;                <td>&ndash;&gt;-->
<!--&lt;!&ndash;                  <a th:if="${product.deleted} == true" th:href="@{/enable-product/(id = ${product.pId})}"&ndash;&gt;-->
<!--&lt;!&ndash;                     class="btn btn-primary">Enable</a>&ndash;&gt;-->
<!--&lt;!&ndash;                  <a th:if="${product.deleted} == false" th:href="@{/delete-product/(id = ${product.pId})}"&ndash;&gt;-->
<!--&lt;!&ndash;                     class=" btn btn-danger">Delete</a>&ndash;&gt;-->
<!--&lt;!&ndash;                </td>&ndash;&gt;-->
<!--              </tr>-->
<!--              </tbody>-->
<!--            </table>-->


<!--            &lt;!&ndash;Pagination  &ndash;&gt;-->
<!--&lt;!&ndash;            <nav aria-label="...">&ndash;&gt;-->
<!--&lt;!&ndash;              <ul class="pagination" >&ndash;&gt;-->
<!--&lt;!&ndash;                <li th:if= "${currentPage != 0}" class="page-item ">&ndash;&gt;-->
<!--&lt;!&ndash;                  <a th:href = "@{'/products/' + ${currentPage - 1}}" class="page-link">Previous</a>&ndash;&gt;-->
<!--&lt;!&ndash;                </li >&ndash;&gt;-->
<!--&lt;!&ndash;                <li th:each = "i : ${#numbers.sequence(1, totalPages)}" th:classappend = "${currentPage == i - 1 ? 'active' : ''}" class="page-item">&ndash;&gt;-->
<!--&lt;!&ndash;                  <a th:href = "@{'/products/' + ${i - 1}}" class="page-link" href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                             <span th:text = "${i}">&ndash;&gt;-->
<!--&lt;!&ndash;                             </span></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li th:if = "${currentPage + 1 != totalPages}" class="page-item">&ndash;&gt;-->
<!--&lt;!&ndash;                  <a th:href = "@{'/products/' + ${currentPage + 1}}" class="page-link" href="#">Next</a>&ndash;&gt;-->
<!--&lt;!&ndash;                </li>&ndash;&gt;-->
<!--&lt;!&ndash;              </ul>&ndash;&gt;-->
<!--&lt;!&ndash;            </nav>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->

</section>

</body>
</html>