<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="admin/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="margin: 10px; padding: 10px; width: 100%;">
<section>

    <table class="table table-striped">
        <tr th:if="${user.empty}">
            user not found
        </tr>
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
<!--                            <th scope="col">Quantity</th>-->
<!--                            <th scope="col">Image</th>-->
<!--                            <th scope="col">Repair</th>-->
<!--                            <th scope="col">Action</th>-->
                          </tr>
        </thead>
        <tbody>

        <tr th:each=" usr : ${user}" >
            <td th:text="${usr.id} "></td>
            <td th:text="${usr.firstName} "></td>
            <td th:text="${usr.lastName} "></td>
            <td th:text="${usr.email}"></td>
<!--            <span th:text="${usr.first_name}"></span>-->



        </tr>
        </tbody>
    </table>





</section>

</body>
</html>