<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="admin/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>

    <table boder="1" >
        <tr th:if="${user.empty}">
            user not found

        </tr>

        <tr th:each=" usr : ${user}" >
            <td th:text="${usr.firstName} "></td>
            <td th:text="${usr.lastName} "></td>
            <td th:text="${usr.email}"></td>
<!--            <span th:text="${usr.first_name}"></span>-->



        </tr>
    </table>





</section>

</body>
</html>