<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<section>

  <div class="title-features">
    <h2>Features</h2>
  </div>
  <section id="feature">

    <div class="fe-box">
      <img src="/images/f1.jpg" alt="f1">
      <p>Free Shipping</p>
    </div>
    <div class="fe-box">
      <img src="/images/f2.png" alt="f2">
      <p>Online Order</p>
    </div>
    <div class="fe-box">
      <img src="/images/f3.jpg" alt="f3">
      <p>Save Money</p>
    </div>
    <div class="fe-box">
      <img src="/images/f4.avif" alt="f4">
      <p>Happy Selling</p>
    </div>
    <div class="fe-box">
      <img src="/images/f5.avif" alt="f5">
      <p>F24/7 Support</p>
    </div>
  </section>

  <section id="products1">
    <h2>Featured Products</h2>
    <p> <span>A summary Collection of the New Model </span></p>
    <div class="pro-container">
      <div class="pro">
        <img src="/images/background2.avif" alt="image1">
        <div class="desc">
          <span>BMW</span>
          <h5>Astraunt</h5>
          <h4>$280</h4>
        </div>
      </div>

      <div class="pro">
        <img src="/images/background2.avif" alt="image1">
        <div class="desc">
          <span>BMW</span>
          <h5>Astronaut</h5>
          <h4>$280</h4>
        </div>
      </div>

      <div class="pro">
        <img src="/images/background2.avif" alt="image1">
        <div class="desc">
          <span>BMW</span>
          <h5>Astronaut</h5>
          <h4>$280</h4>
        </div>
      </div>

      <div class="pro">
        <img src="/images/background2.avif" alt="image1">
        <div class="desc">
          <span>BMW</span>
          <h5>Astronaut</h5>
          <h4>$280</h4>
        </div>
      </div>

      <div class="pro">
        <img src="/images/background2.avif" alt="image1">
        <div class="desc">
          <span>BMW</span>
          <h5>Astronaut</h5>
          <h4>$280</h4>
        </div>
      </div>

      <div class="pro">
        <img src="/images/background2.avif" alt="image1">
        <div class="desc">
          <span>BMW</span>
          <h5>Astronaut</h5>
          <h4>$280</h4>
        </div>
      </div>

      <div class="pro">
        <img src="/images/background2.avif" alt="image1">
        <div class="desc">
          <span>BMW</span>
          <h5>Astronaut</h5>
          <h4>$280</h4>
        </div>
      </div>

      <div class="pro">
        <img src="/images/background2.avif" alt="image1">
        <div class="desc">
          <span>BMW</span>
          <h5>Astraunt</h5>
          <h4>$280</h4>
        </div>
      </div>

      <div class="pro">
        <img src="/images/background2.avif" alt="image1">
        <div class="desc">
          <span>BMW</span>
          <h5>Astronaut</h5>
          <h4>$280</h4>
        </div>
      </div>

    </div>
  </section>

  <section id="banner">
    <h4>REPAIR SERVICE</h4>
    <h2>UP TO <span>20% OFF</span> - IN ALL BRAND CYCLES</h2>
    <button class="normal">Explore More</button>

  </section>

  <section id="products2">
    <h2>NEW ARRIVALS</h2>
    <p> <span>A summary Collection of the New Model </span></p>
    <div class="pro-container">
      <div class="pro">
        <img src="/images/background5.webp" alt="image1">
        <div class="desc">
          <span>Hero</span>
          <h5>Mig Man</h5>
          <h4>$580</h4>
        </div>
      </div>

      <div class="pro">
        <img src="/images/background3.webp" alt="image2">
        <div class="desc">
          <span>Lifelong</span>
          <h5>LLb</h5>
          <h4>$460</h4>
        </div>
      </div>

      <div class="pro">
        <img src="/images/background5.webp" alt="image3">
        <div class="desc">
          <span>Hero</span>
          <h5>Mig Man</h5>
          <h4>$580</h4>
        </div>
      </div>

      <div class="pro">
        <img src="/images/background5.webp" alt="image1">
        <div class="desc">
          <span>Hero</span>
          <h5>Mig Man</h5>
          <h4>$580</h4>
        </div>
      </div>

      <div class="pro">
        <img src="/images/background3.webp" alt="image2">
        <div class="desc">
          <span>Lifelong</span>
          <h5>LLb</h5>
          <h4>$460</h4>
        </div>
      </div>

      <div class="pro">
        <img src="/images/background5.webp" alt="image3">
        <div class="desc">
          <span>Hero</span>
          <h5>Mig Man</h5>
          <h4>$580</h4>
        </div>
      </div>

      <div class="pro">
        <img src="/images/background5.webp" alt="image1">
        <div class="desc">
          <span>Hero</span>
          <h5>Mig Man</h5>
          <h4>$580</h4>
        </div>
      </div>

      <div class="pro">
        <img src="/images/background3.webp" alt="image2">
        <div class="desc">
          <span>Lifelong</span>
          <h5>LLb</h5>
          <h4>$460</h4>
        </div>
      </div>

      <div class="pro">
        <img src="/images/background5.webp" alt="image3">
        <div class="desc">
          <span>Hero</span>
          <h5>Mig Man</h5>
          <h4>$580</h4>
        </div>
      </div>

    </div>
  </section>

  <section id="sm-banner">
    <div class="banner-box">
      <h4>CRAZY DEALS</h4>
      <h2>20% Discount on Sale</h2>
      <span>With 2 years of free Servicing...</span><br>
      <button class="normal">Learn More</button>
    </div>

    <div class="banner-box banner-box2">
      <h4>UPCOMING MONTH</h4>
      <h2>The Best Season Sale</h2>
      <span>With exciting offers...</span><br>
      <button class="normal">Learn More</button>
    </div>

  </section>

  <section id="newsletter">
    <div>
      <h4>NEWSTEXT</h4>
      <p>Get your Email Update about our latest offers</p>
    </div>
    <div class="form">
      <input type="text" placeholder="Your Email Address">
      <button class="normal">Signup</button>
    </div>

  </section>

  <!-- <section id="products_gallery">
      <div class="gallery">
          <img src="images/background3.webp" alt="cycle1" width="400" height="400">
          <div class="desc">A description about the cycle is here.
              <a href="#" class="read-more">Read more<span>&rarr;</span></a>
          </div>
      </div>

      <div class="gallery">
          <img src="images/background4.webp" alt="cycle1" width="400" height="400">
          <div class="desc">A description about the cycle is here.
              <a href="#" class="read-more">Read more<span>&rarr;</span></a>
          </div>
      </div>

      <div class="gallery">
          <img src="images/background2.avif" alt="cycle1" width="400" height="400">
          <div class="desc">A description about the cycle is here.
              <a href="#" class="read-more">Read more<span>&rarr;</span></a>
          </div>
      </div>

      <div class="gallery">
          <img src="images/background5.webp" alt="cycle1" width="400" height="400">
          <div class="desc">A description about the cycle is here.
              <a href="#" class="read-more">Read more<span>&rarr;</span></a>
          </div>
      </div>

      <div class="gallery">
          <img src="images/background3.webp" alt="cycle1" width="400" height="400">
          <div class="desc">A description about the cycle is here.
              <a href="#" class="read-more">Read more<span>&rarr;</span></a>
          </div>
      </div>

      <div class="gallery">
          <img src="images/background5.webp" alt="cycle1" width="400" height="400">
          <div class="desc">A description about the cycle is here.
              <a href="#" class="read-more">Read more<span>&rarr;</span></a>
          </div>
      </div>

  </section> -->
</section>

</body>
</html>